# Node
node_modules/
dist/
.DS_Store
*.log

# Rust / Tauri
src-tauri/target/
src-tauri/binaries/*.exe
src-tauri/binaries/*.dll
src-tauri/binaries/_extract/
src-tauri/binaries/_gs-extract/
src-tauri/binaries/_ffmpeg-essentials.7z
src-tauri/binaries/_gs-installer.exe

# pnpm
pnpm-debug.log*

# IDE
.vscode/settings.json
.idea/

# OS
Thumbs.db
